*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
body{
    background-image: linear-gradient(to left,#387373, #93BFB7);
    text-align: center;
}
main{
    width: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #014034;
    padding: 10px;
    margin: auto;
}
h1{
    color: #36BFB1;
}
h2{
    color: #038C73;
}
p{
    font-size: larger;
    color: #0D0D0D;
}