@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
body{
    background-image: linear-gradient(to left, #51a7a7, #abe0d7);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #2D3E40;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #26585d;
    text-align: center;
}
h2{
    color: #445f62;
    text-align: center;
}
p{
    color: #97A6A0;
    text-align: justify;
}

